<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book notes</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="box">
        <h1>Books</h1>

        <div class="box">
            <% let count = 0 %>

            <% for(book of books) { %>
                  <h2 id="title<%= book.id %>">
                    <%= book.title %>
                    <form action="/delete" method="post">
                      <button type="submit" name="deleteBookId" class="delete" value="<%= book.id %>">
                        <img class="icon" src="assets/icons/delete.svg" alt="delete"></button>
                    </form>
                  </h2>
                <img src="<%= book_cover[count] %>" height="450px" width="350px" alt="Book not found, please check your spelling.">
                <p id="description<%= book.id %>">
                    Notes: 
                    <%= book.description %>
                </p>
                <p id="rating<%= book.id %>">
                    Rating: <%= book.rating %>
                </p>

              <div class="book">
                <form id="editing" class="edit" action="/edit" method="post">
                  <input type="hidden" name="updatedBookId" value="<%= book.id %>">
                  <input id="input1<%=book.id%>" type="text" name="updatedTitle" value="<%= book.title %>" autocomplete="off"
                    autofocus="true" hidden="true" required/>
                  <textarea id="input2<%=book.id%>" type="text" name="updatedDescription" autocomplete="off"
                    autofocus="true" hidden="true" required><%= book.description %></textarea>
                  <input id="input3<%=book.id%>" type="integer" name="updatedRating" value="<%= book.rating %>" autocomplete="off"
                    autofocus="true" hidden="true" required/>
                  <button id="done<%=book.id%>" class="edit" type="submit" hidden><img class="icon"
                      src="/assets/icons/tick.svg" alt="tick image"></button>
                </form>
                <button id="edit<%=book.id%>" class="edit" onclick="handler('<%=book.id%>')"><img class="icon"
                    src="/assets/icons/edit.svg" alt="pencil image"></button>
              </div>
                <% count++ %> 
              <% } %>
        
                <form class="book" action="/add" method="post">
                  <input type="text" name="newTitle" placeholder="Please type full title." autocomplete="off" autofocus="true" required/>
                  <input type="text" name="newDescription" placeholder="Add Your notes." autocomplete="off" autofocus="true" required/>
                  <input type="text" name="newRating" placeholder="Add Your rating." autocomplete="off" autofocus="true" required/>
                  <button class="add" type="submit" name="list" value="Today" >+</button>
                </form>
          </div>

    <script>
        function handler(id) {
          document.getElementById("title" + id).setAttribute("hidden", true);
          document.getElementById("description" + id).setAttribute("hidden", true);
          document.getElementById("rating" + id).setAttribute("hidden", true);
          document.getElementById("edit" + id).setAttribute("hidden", true);
          document.getElementById("done" + id).removeAttribute("hidden");
          document.getElementById("input1" + id).removeAttribute("hidden");
          document.getElementById("input3" + id).removeAttribute("hidden");
          document.getElementById("input2" + id).removeAttribute("hidden");
        };
      </script>
</body>
</html>
<%- include('partials/footer.ejs'); -%>